*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif;
}

:root{
    --accent-color: #C5A992;

    --dark-color: #2f2f2f;
    --light-color: #F3F2EC;
    --body-text-color: #757575;
    --light-text-color: #afafaf;
    --active-color: #daa556;

}

.margin-neg{
  margin-top: -230px !important;
}

.body-text-color{
    color: var(--body-text-color) ;
}
.dark-color{
    color: var(--dark-color) ;
}
.light-text-color{
    background-color: var(--light-color) ;
}
.light-text-clr{
  color: var(--light-color) ;
}

.heading{
    font-family: "Playfair Display", serif ;
    color: var(--dark-color) ;
}

.active{
    color: var(--active-color) !important;
}

.accent-color{
    color:var(--accent-color);
    border: 1px solid var(--accent-color);
}
.accent-clr{
    color:var(--accent-color);
    /* border: 1px solid var(--accent-color); */
}

.feature-bg{
    color: var(--body-text-color);
    background-color: #EDEBE4;
}



/* slider */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .custom-shape-divider-bottom-1736773262 {

    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736773262 svg {
    
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1736773262 .shape-fill {
    fill: #FFFFFF;
}

.container-1 {
    text-align: center; 
}

.line {
    height: 1px;
    background: var(--light-text-color) ;
}





.cart-btn {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    border: none;
    background-color: hsl(255deg 50% 40%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: "Inter", sans-serif;
  }
  
  .default-btn {
    background-image: linear-gradient(
      90.1deg,
      rgb(237, 176, 52) 0.2%,
      rgba(220, 142, 25, 0.853) 99.9%
    );
  }
  
  .default-btn,
  .hover-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1em 3em;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .hover-btn {
    position: absolute;
    inset: 0;
    font-size: 16px;
    padding: 1em 3em;
    text-align: center;
    background: var(--active-color);
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translate(0%, 100%);
  }
  
  .default-btn span {
    color: hsl(0, 0%, 100%);
  }
  
  .hover-btn span {
    color: hsl(0, 0%, 100%);
  }
  
  .cart-btn:hover .default-btn {
    transform: translate(0%, -100%);
  }
  
  .cart-btn:hover .hover-btn {
    transform: translate(0%, 0%);
  }
  


  .custom-shape-divider-top-1736848759 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1736848759 svg {
    /* position: relative; */
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}

.custom-shape-divider-top-1736848759 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1736848893 {
  
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1736848893 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-bottom-1736848893 .shape-fill {
  fill: #FFFFFF;
}


/* From Uiverse.io by eslam-hany */ 
.book {
  position: relative;
  border-radius: 10px;
  
  height: 300px;
  background-color: whitesmoke;

  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.hover-article {
  font-size: 20px;
  font-weight: bolder;
}


.footer h5, .footer h6 {
  font-weight: bold;
  color: #000;
}

.footer p, .footer a {
  font-size: 14px;
  color: #6c757d;
}

.footer a:hover {
  color: #007bff;
  text-decoration: none;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 8px;
 
}
.footer ul li a{
  text-decoration: none;
 font-size: medium 
 
}

.footer .text-center {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.footer .bi {
  font-size: 20px;
  color: #6c757d;
}

.footer .bi:hover {
  color: #007bff;
}

.z{
  z-index: 999 !important;
}


/* From Uiverse.io by csemszepp */ 
.container-bg {
  width: 100%;
  height: 100%;
  --s: 140px; /* control the size */
  --c1: #ab3e5b;
  --c2: #ffbe40;

  --_g: #0000 25%, #0008 47%, var(--c1) 53% 147%, var(--c2) 153% 247%,
    var(--c1) 253% 347%, var(--c2) 353% 447%, var(--c1) 453% 547%, #0008 553%,
    #0000 575%;
  --_s: calc(25% / 3) calc(25% / 4) at 50%;
  background: radial-gradient(var(--_s) 100%, var(--_g)),
    radial-gradient(var(--_s) 100%, var(--_g)) calc(var(--s) / 2)
      calc(3 * var(--s) / 4),
    radial-gradient(var(--_s) 0, var(--_g)) calc(var(--s) / 2) 0,
    radial-gradient(var(--_s) 0, var(--_g)) 0 calc(3 * var(--s) / 4),
    repeating-linear-gradient(
      90deg,
      #accec0 calc(25% / -6) calc(25% / 6),
      #61a6ab 0 calc(25% / 2)
    );
  background-size: var(--s) calc(3 * var(--s) / 2);
}

/* From Uiverse.io by andrew-demchenk0 */ 
.card1 {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 192px;
  width: 100%;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}



/* From Uiverse.io by JaydipPrajapati1910 */ 
.button-shop {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button-shop::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-shop::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-shop::after,.button-shop::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button-shop:hover {
  background: #222;
}

.button-shop:hover .text {
  top: -100%;
}

.button-shop:hover .icon {
  top: 0;
}

.button-shop:hover:before,.button-shop:hover:after {
  opacity: 1;
  visibility: visible;
}

.button-shop:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-shop:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}







@media (hover: hover) {
  #creditcard {
    /*  set start position */
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  #money {
    /*  set start position */
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  .btnwallet button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
    /*  overide transition for mouse enter */
  }

  .btnwallet button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    /*  overide transition for mouse enter */
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.btnwallet .button:hover .btnwallet .button__text span {
  transform: translateY(-0.25rem);
  transition: transform .2s ease-in-out;
}

/* styling */


.btnwallet .button {
  border: none;
  outline: none;
  background-color: 
purple;
  padding: 1rem 90px 1rem 2rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: 
#5086bd;
  color: 
#fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: 
rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.btnwallet .button:active {
  transform: translateY(1px);
}

.btnwallet .button__svg {
  position: absolute;
  overflow: visible;
  bottom: 6px;
  right: 0.2rem;
  height: 140%;
}